.setting-input {
  width:65% !important;
}

input[type="number"] {
  padding-right: 0 !important;
  padding-left: 1em !important;
  width: calc(65% - 1em) !important;
}

.inline-dropdown-xml-container{
  border: 1px solid #B2B2B2;
  border-radius: 3px;
}

.inline-dropdown-xml-container:hover {
  border: 1px solid #B43F37;
}

.inline-dropdown-xml-header {
   width: calc(100% - 0.5em);
  height: 100%;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 0.5em;
  padding-left: 0.5em;
  background-color: rgba(164, 165, 168, 0.25);
}

.inline-dropdown-xml-body textarea {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  height: 100px;
  width: calc(100% - calc(1.5em + 2px));
  overflow: hidden;
}

.inline-dropdown-visual-question {
  border: 1px solid #B2B2B2;
  border-radius: 3px;
}

.inline-dropdown-visual-question:hover {
  border: 1px solid #B43F37;
  padding-bottom: 1em;
}

.inline-dropdown-visual-header {
  width: calc(100% - 0.5em);
  height: 100%;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 0.5em;
  padding-left: 0.5em;
  background-color: rgba(164, 165, 168, 0.25);
}

.inline-dropdown-settings-toggle-xml, .inline-dropdown-settings-toggle-visual {
  padding: 0.3em;
  cursor: pointer;
  border-radius: 3px;
  float: right;
  margin-right: 0.5em;
  border: 0;
  outline: 0;
  font-size: small;
  vertical-align: middle;
  color: #626365;
  background-color: #ffffff;
}

.inline-dropdown-settings-toggle-xml:hover, .inline-dropdown-settings-toggle-visual:hover {
  background-color: rgba(164, 165, 168, 0.25)
}

.inline-dropdown-settings_end {
  border-bottom: 1px solid #E7E7E7;
}

.inline-dropdown-question-textarea {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  height: 100px;
  width: calc(100% - calc(1.5em + 2px));
  overflow: hidden;
}

.inline-dropdown-question {
  width: 100%;
  border: 1px solid #B2B2B2;
  border-radius: 3px;
}

.inline-dropdown-question:hover {
 border: 1px solid #B43F37;
}

.inline-dropdown-question-header {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgba(164, 165, 168, 0.25);
}

.inline-dropdown-question-header-secondary {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: rgba(164, 165, 168, 0.25);
}

.inline-dropdown-question-header label, .inline-dropdown-question-header-secondary label {
   display: inline-block;
   font-size: small;
   padding-left: 0.5em;
}

.inline-dropdown-question-header button {
   float: right;
}

.inline-dropdown-question-button-container, .inline-dropdown-demandhints-button-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.inline-dropdown-button-add-demandhint, .inline-dropdown-button-add-incorrect {
  width: 30%;
  border: 1px solid #B43F37;
  color: #B43F37;
  padding: 0.5em;
  display: block;
  border-radius: 0.5em;
  display: block;
  margin: auto;
  background-color: #ffffff;
}

.inline-dropdown-button-add-demandhint:hover, .inline-dropdown-button-add-incorrect:hover {
  background-color: #B43F37;
  color: white;
}

.inline-dropdown-button-delete {
  padding: 0.3em;
  cursor: pointer;
  border-radius: 3px;
  float: right;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: small;
  vertical-align: baseline;
  color: #626365;
  background-color: #ffffff;
}

.inline-dropdown-button-delete:hover{
  background-color: rgba(164, 165, 168, 0.25)
}

.inline-dropdown-question-bottom {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 1em;
  padding-bottom: 1em;
}

.inline-dropdown-question-bottom input {
  height: 2em !important;
  width: 64% !important;
}

.inline-dropdown-question-bottom label{
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 0.5em;
}

.inline-dropdown-question-bottom-secondary {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 1em;
  padding-bottom: 1em;

}

.inline-dropdown-question-bottom-secondary label{
   padding-left: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   width: 20% !important;
}

.inline-dropdown-question-bottom-secondary .input_hint {
   height: 2em !important;
   width: 64% !important;
}


.inline-dropdown-question-bottom-secondary .input_question_word {
  transition: color 0.25s ease-in-out 0s;
  vertical-align: middle !important;
  display: inline-block !important;
  position: relative !important;
  width: 25% !important;
  min-width: 100px !important;
  height: 2em !important;
  margin-right: 1em !important;
  margin-left: 0.25em !important;
  padding-left: 0.25em !important;
}

.inline-dropdown-question-bottom-secondary button {
  float: right;
}

.inline-dropdown-demandhints {
  width: 100%;
  border: 1px solid #B2B2B2;
  border-radius: 3px;
  border-width: thin;
  margin-bottom: 1em;
  /*margin: 10px;*/
}

.inline-dropdown-demandhints:hover {
 border: 1px solid #B43F37;
}

.inline-dropdown-demandhints-bottom {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid solid #E7E7E7;
  padding-top: 1em;
  /*padding-bottom: 1em;*/
}

.inline-dropdown-demandhints-bottom input{
   padding-left: 1em;
   width: 90% !important;
   margin-left: 1em !important;
   height: 2em !important;
}

.inline-dropdown-demandhints-bottom button {
  float: right;
}


.inline-dropdown-demandhints-header {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: rgba(164, 165, 168, 0.25);
}

.inline-dropdown-demandhints-header button {
   float: right;
}

.inline-dropdown-demandhints-header label {
  display: inline-block;
   font-size: small;
   padding-left: 0.5em;
}
