.inline_dropdown .question_prompt {
  text-align: left;
  padding-bottom: 20px;
}

.inline_dropdown .feedback {
  text-align: left;
  padding-bottom: 20px;
}

.inline_dropdown .hint {
  text-align: left;
  padding-bottom: 20px;
}

.inline_dropdown .correct  {
    color: #008100 !important;
}

.inline_dropdown .incorrect {
    color: #b2060e !important;
}

.inline_dropdown .feedback_number_correct {
    color: #008100 !important;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    font-weight: bold;
}

.inline_dropdown .feedback_number_incorrect {
    color: #b2060e !important;
    position: relative;
    top: -0.5em;
    font-size: 80%;
    font-weight: bold;
}
