{% load i18n %}

<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    <ul class="list-input settings-list">
        <div class="inline-dropdown-main-settings">
        {% for key, values in settings.items  %}
        <li class="field comp-setting-entry">
            <div class="wrapper-comp-setting">
        {% if values.values %}
                <label class="label setting-label" for="inline_dropdown_edit_{{ key }}">{% trans values.display_name %}</label>
                <select class="input setting-input" id="inline_dropdown_edit_{{ key }}" name="{% trans values.display_name %}">
                {% for i in values.values  %}
                    <option value="{{i.value}}"
                    {% if key in "show_reset_button" %}
                        {% if i.value == values.value %} selected="selected" {% endif %}
                    {% else %}
                        {% if i.value in values.value %} selected="selected" {% endif %}
                    {% endif %}
                    >{% trans i.display_name %} </option>
                {% endfor %}
                </select>
        {% elif key in "max_attempts, weight, submission_max_seconds" %}
                <label class="label setting-label" for="inline_dropdown_edit_{{ key }}">{% trans values.display_name %}</label>
                <input min="0" class="input setting-input" id="inline_dropdown_edit_{{ key }}" value="{{ values.value }}" type="number">
        {% else %}
                <label class="label setting-label" for="inline_dropdown_edit_{{ key }}">{% trans values.display_name %}</label>
                <input class="input setting-input" id="inline_dropdown_edit_{{ key }}" value="{{ values.value }}" type="text">
        {% endif %}
            </div>
            <span class="tip setting-help">{% trans values.help %}</span>
        </li>
        {% endfor %}
        </div>
        <div class="inline-dropdown-visual-editor">
            <div class="inline-dropdown-visual">
                <li class="field comp-setting-entry">
                    <div class="inline-dropdown-visual-question">
                        <div class="inline-dropdown-visual-header">
                            <div>
                                <label class="label setting-label" for="inline_dropdown_edit_weight">{% trans "Problem" %}</label>
                                <button class="inline-dropdown-settings-toggle-xml">{% trans "Switch to XML editor view" %}</button>
                            </div>
                            <span class="tip setting-help">{% trans "Enter a problem here. In square brackets [] enter the words, which will be changed into gaps." %}</span>
                        </div>
                        <div class="wrapper-comp-setting">
                            <textarea class="inline-dropdown-question-textarea" id="question-textarea"></textarea>
                        </div>
                    </div>
                    <div id="problem-container">
                    </div>
                    <br>
                    <span class="tip setting-help">{% trans "Beneath there is a list of hints. You can modify, add and delete them." %}</span>
                    <div class="inline-dropdown-demandhints">
                        <div class="inline-dropdown-demandhints-header">
                            <label for="inline_dropdown_edit_weight">{% trans "Hints" %}</label>
                        </div>
                        <div id="demandhint-container">
                        </div>
                        <div class="inline-dropdown-demandhints-button-container">
                                <button class="button inline-dropdown-button-add-demandhint">{% trans "Add a hint" %}</button>
                        </div>
                    </div>
                </li>
            </div>
            <div class="inline-dropdown-xml">
                <li class="field comp-setting-entry">
                    <div class="inline-dropdown-xml-container">
                        <div class="inline-dropdown-xml-header">
                            <div>
                                <label class="label setting-label" for="inline_dropdown_edit_weight">{% trans "Definition" %}</label>
                                <button class="inline-dropdown-settings-toggle-visual">{% trans "Switch to Visual editor view" %}</button>
                            </div>
                            <span class="tip setting-help">{% trans "The XML definition for the problem" %}</span>
                        </div>

                        <div class="inline-dropdown-xml-body">
                            <div class="codemirror-editor-wrapper">
                                <textarea class="block-xml-editor edit-data">{{ xml_data }}</textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
	</ul>
	<div class=" xblock-actions">
		<ul>
			<li class="action-item">
				<a href="#" class="button action-primary action-save">{% trans "Save" %}</a>
			</li>
			<li class="action-item">
				<a href="#" class="button action-cancel">{% trans "Cancel" %}</a>
			</li>
		</ul>
	</div>
</div>

